<!DOCTYPE html>
<html lang="zh-CN">
  <head>
      <title>Data Analysis Main Page</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <script src="../static/js/jquery.min.js"></script>
      <script type="text/javascript" src="../static/js/alphabet.js"></script>
      <link rel="stylesheet" type="text/css" href="../static/css/idx-style.css">
  </head>
  <body>
    <div class="header">
        <canvas id="myCanvas"></canvas>
        <!--img src="../static/images/title.png"-->
        <!--h1 style="color: snow">WELCOME TO HOUSING DATA WEBSITE</h1-->
        <!--<ul class="nav">
          <li><a href="#">Home</a></li>
          <li><a href="#">Site</a></li>
          <li><a href="#">Other</a></li>
        </ul>-->
    </div>
    <div class="main-content">
        <h2>Data Analysis Navigation Bar</h2>
        <ul class="article">
          <li>
            <img src="../static/images/img1.png" width="100" height="90">
            <h3><a href="/saleCount">销量</a></h3>
            <p>New York 市区房屋销量统计</p>
          </li>
          <li>
            <img src="../static/images/img2.png" width="100" height="90">
            <h3><a href="/saleAvg">价格</a></h3>
            <p>New York 市区房屋销售均价统计</p>
          </li>
          <li>
            <img src="../static/images/img3.png" width="100" height="90">
            <h3><a href="/pricePredict">预测</a></h3>
            <p>New York市区房屋售价预测</p>
          </li>
        </ul>
    </div>
    <br><br><br>
    <div class="footer">
        <p>&copy; 2018 | Xiaoru Zhu</p>
    </div>

    <script type="text/javascript" src="../static/js/bubbles.js"></script>
    <script type="text/javascript" src="../static/js/title-bubb.js"></script>
    </body>
</html>